{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ticketentity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticketEntity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticketEntity.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ ticketEntity.body }}</td>
            </tr>
            <tr>
                <th>Createdticket</th>
                <td>{% if ticketEntity.createdTicket %}{{ ticketEntity.createdTicket|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ticketentity_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ticketentity_edit', { 'id': ticketEntity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
